.address-left
{
    display: flex;
}
#_main
{
    display: flex;
}
.col-12 col-md-6
{

    background-color:#2f3342 ;
}
#content-left
{
    border-right: 3px solid gray;
}
main
{
    background-color: #212529;
    color: aliceblue;
}
#content_right
{
    padding-left: 50px;
}